body {
    font-family: 'Space Mono', monospace;
}

.background_image {
    background-image: url("../images/bighousefall2021.jpeg");
    background-color: #f1f1f1;
    background-size: cover;
}

.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus{
    top:40px;
    color: black;
    text-decoration-style: solid;
  }

header {
    background-color: lightblue;
}

.top_text_on_background {
    color: black;
}

.bottom_text_on_background {
    color:white;
}

h1{
    font-size: 45px;
    margin: 12px 0;
    text-align: center;
    animation: move 3s ease;
}

h1:hover {
    color: green;
}

@keyframes move {
    from {
        font-size: 12px;
        margin-top: 0;
        color: red;
    }
}

@media (prefers-reduced-motion) {
    h1 {
        animation: none;
    }
}


footer{
    background-color: khaki;
    padding: 32px 8px;
    text-align: left;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

a:visited {
    color: blue;
}

.active{
    background-color: rgb(119, 189, 235);
    font-weight: bold;
    border: 2px solid black; 
}

img{
    width: 125px;
    margin: 18px 18px;
    padding: 5px;
    border: 4px solid blue;
    border-radius: 25px;
    background-color: rgb(0, 153, 255);
    align-self: center;
}

video{
    width: 300px;
    border: 4px solid red;
    border-radius: 20px;
    margin: auto;
}

.page {
    background-color: yellow;
}

div {
    padding: 10px;
}

nav li{
    padding: 8px;
}

.about-me-pics-container {
    text-align: center;
}

.about-me-pic {
    display: inline-block;
}


.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;   
}

#contact_text {
    width: 700px;
    margin-left: 10px;
}

#contact_image {
    width: 400px;
    position: relative;
    padding: 0px;
    border: 0px solid;
    border-radius: 0px;
}

.container1 {
    display: grid;
    grid-template-columns: auto;
}


.setFirstMichPic {
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
    justify-self: center;
}

.setSecondMichPic {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
}

.setThirdMichPic {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
}

.setFourthMichPic {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: center;
}

.setFifthMichPic {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: center;
}

.setSixthMichPic {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    justify-self: center;
}

.setSeventhMichPic {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    justify-self: center;
}

.setEighthMichPic {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
    justify-self: center;
}

@media screen and (min-width: 720px) {
    img {
        width: 280px;
    }

    main p {
        margin-left: 100px;
        margin-right: 100px;
    }
}

#button_text {
    font-size: 30px;
    text-align: center;
}

#hidden_until_button_click {
    display: none;
}