body {
    font-family: 'Space Mono', monospace;
}

.background {
    background-image: url("../images/bighousefall2021.jpeg");
    background-size: contain;
    
}

.text_on_background {
    color: black;
    background-color: white;
    opacity: 0.6;
}

h1{
    font-size: 24px;
    margin: 12px 0;
}

footer{
    background-color: khaki;
    padding: 32px 8px;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

a:visited {
    color: blue;
}

.active{
    background-color: rgb(119, 189, 235);
    font-weight: bold;
    border: 2px solid black; 
}

img{
    width: 200px;
    margin: 18px 18px;
    padding: 10px;
    border: 4px solid blue;
    border-radius: 25px;
    background-color: rgb(0, 153, 255);
}

video{
    width: 300px;
    border: 4px solid red;
    border-radius: 20px;
    margin: auto;
}

.page {
    background-color: yellow;
}

div {
    padding: 10px;
}

nav li{
    padding: 8px;
}


.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

#contact_text {
    width: 700px;
}

#contact_image {
    width: 400px;
    margin: -50px 300px 0px 0px;
    padding: 0px;
    border: 0px solid;
    border-radius: 0px;
}
@media screen and (min-width:720px){

}